.HomeContainer {
  background-image: url("../../assets/event-party-3005668.jpg");
  width: 100vw;
  height: 100vh;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.HomeHeader {
  background-color: rgba(80, 80, 80, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}

.HomeHeader > div {
  width: 100px;
  height: 100%;
  transition: background-color 0.1s ease-out 100ms;
}

.HomeHeader > div > h1 {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  padding: 0;
  text-align: center;
}

.HomeHeader > div:hover {
  cursor: pointer;
  background-color: rgba(80, 80, 80, 1);
}

.HomeMain {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
}

.HomeMain > h1 {
  font-size: 50px;
  align-self: flex-start;
  width: 50%;
  text-align: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin-top: 110px;
}
